@model ArkCustomerManagement.Models.AddCustomer

@{
    ViewData["Title"] = "AddCustomer";
}

<div class="row">
    <div class="col-md-6 offset-md-3">
        <form asp-controller="Home" asp-action="AddCustomer" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="TelephoneNumber" class="control-label"></label>
                <input asp-for="TelephoneNumber" class="form-control" />
                <span asp-validation-for="TelephoneNumber" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactPersonName" class="control-label"></label>
                <input asp-for="ContactPersonName" class="form-control" />
                <span asp-validation-for="ContactPersonName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="ContactPersonEmail" class="control-label"></label>
                <input asp-for="ContactPersonEmail" class="form-control" />
                <span asp-validation-for="ContactPersonEmail" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Vat" class="control-label"></label>
                <input asp-for="Vat" class="form-control" />
                <span asp-validation-for="Vat" class="text-danger"></span>
            </div>

            <div class="form-group mt-3">
                <button type="submit" class="btn btn-primary">Add Customer</button>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}